  

a{
  text-decoration: none;
  color: #66ff66;
}

/*for toollbar positioning*/
td.toolbar{
  background-color:#336633;
  color:#66ff66;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:0.5em;
  text-align: center;
  border: 1px;
  border-color: #66ff66;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 80px;
  margin-left: 25px;
  height: 23px;
  z-index: 0;
  background-image: url(images/home.gif);
}
/*for toollbar positioning*/
  td.toolbartwo {
  background-color: #336633;
  color: #66ff66;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.5em;
  text-align: center;
  border: 1px;
  border-color: #66ff66;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 80px;
  margin-left: 25px;
  height: 23px;
  z-index: 0;
  background-image: url(images/moreinfotwo.gif);
}

/*for toollbar positioning*/
td.toolbarthree{
  background-color: #336633;
  color: #66ff66;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.5em;
  text-align: center;
  border: 1px;
  border-color: #66ff66;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 80px;
  margin-left: 25px;
  height: 23px;
  z-index: 0;
  background-image: url(images/search.gif);
}

/*for reception*/
#content{
  width: 600px;
  height: auto;
  border-color: #000033;
  padding: 2px;
  position:absolute;
  left: 1px;
  top: 60px;
  background-color: #FFCCCC;
  margin-left: 70px; 
}

#contenttwo{
  width: 600px;
  height: auto;
  border-color: #000033;
  padding: 2px;
  position:absolute;
  left: 1px;
  top: 820px;
  background-color: #FFCCCC;
  margin-left: 70px; 
}

/*table in opening times*/
#openingtimescontents{
  width: 320px;
  height: auto;
  padding: 0px;
  background-color: #32CD32;
  z-index: 1;
  border: thin groove Green;
  font-family: "Comic Sans MS";
  font-size: 1.2em;
  text-align: center;
  margin-left: 0px;
  margin-top: 10px;
}

/*table in opening times*/
#openingtimestool{
  width: 300px;
  height: auto;
  padding: 2px;
  background-color: #32CD32;
  z-index: 1;
  font-family: "Comic Sans MS";
  font-size: 1.2em;
  border: thin groove Green;
  margin-left: 10px;
  margin-top: 0px;
  color: White;
}


     /*to move toolbar position*/
#main_menu{
  position:absolute;
  left: 0;
  top: 0;
  margin-left: 220px;
  margin-top: 8px;
}

#menu_prod{
  position:absolute;
  left: 0px;
  top: 26px;
  width: 80px;
  z-index: 1;
  visibility: hidden;
}

#menu_supp{
  position:absolute;
  left: 40px;
  top: 26px;
  width: 150px;
  z-index:1;
  visibility: hidden;
}

#menu_down {
  position:absolute;
  left: 120px;
  top: 26px;
  width: 150px;
  z-index: 1;
  visibility: hidden;
}

#menu_abou {
  width: 80px;
  z-index: 1;
  top: 26px;
  position: absolute;
  left: 240px;
  visibility: hidden;
}


/*to position under toolbar*/
p.submenu{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.1em;
  padding: 2;
  width: 60px;
  left: 0px;
  z-index: 1;
  font-size: 1.0em;
  background-color: #336633;
  background-attachment: fixed;
  margin-left: 10px;
}
   
p.submenu a:link {
  color: #FFFF33;
}
  
p.submenu a:hover {
  background-color: Fuchsia;
  color: #336633;
}

